.contain{

   /* border-radius: .5rem; */
    width: 340px;
    height: 270px;
    background: rgba(153, 153, 153, 0.155);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-right: 1px solid rgba(25,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);

    backdrop-filter: blur(50px);
 
}

.contain:hover{
    background: rgba(153, 153, 153, 0.155);
    color: #fff;
    /* border-radius: .5rem; */
    box-shadow: 0 0 1px #03e9f4,
                0 0 3px #03e9f4,
                0 0 5px #03e9f4,
                0 0 10px #03e9f4;
}

.contain2 .containImg img{
    margin-top: 30px;
    object-fit: cover;
    height: 150px;
    width: 320px;
 
    



}

/* .contain2 .containText{
color: white;

    width: 320px;
    z-index: 100;
    position: absolute;
    height: 100px;
    
} */

 .text{
 
    
z-index: 100;
width: 340px;
height: 100px;
margin-top: 70px;
text-align: center;
justify-content: center;



}

a{
    text-decoration: none;
}

.text h3 {
    font-family: 'Zen Dots';
    font-size: 15px;
    letter-spacing: 2px;
    color: #0efee6;;
    text-decoration: none;
    padding: 0 10px;
   
   
}


/* .containText h2{
    
    text-align: center;
    justify-content: center;
    align-items: center;
} */

.text p{
    text-align: center;
    font-family: 'Abel';
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    margin-top: -10px;

}


 .rating{
right: 15px;
position: absolute;
}

 .rating{
    width: 50px;
    height: 40px;
    }

.rating h5{

    font-family: 'Zen Dots';
  
    background: rgba(153, 153, 153, 0.155);

    color:#0efee5;
    line-height: 0;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 2px;
    



 }






























/* .contain:hover{
    box-shadow: 7px 5px 56px -14px #ffd700 ;
} */
.contain2 .containImg{
    padding: 10px 10px 0 10px;
    width: 250px;
    height: 120px;
    


}
.contain2 .containImg img{
object-fit: cover;
border-radius: 5px;

}

.containText {
 position: absolute;
text-decoration: none;
width: 270px;
}



.contain2 .containText h3{
    font-family: 'Abel';
    font-size: 20px;   
    letter-spacing: 1px;
    text-decoration: none;
    margin-top:12px;
  

}

.contain2 .containText  p{
    font-family: 'Abel';
    font-size: 15px;
text-decoration:none;
margin-top: -20px;
   
} 

