input {
    font-family: 'Abel';
    width: 25em;
    background-color: #636363a2;
    border: none;
    color: #c4c3c3;
    /* padding: 0.7rem 1rem; */
    border-radius: 30px;
    height: 1.8em;
    transition: all ease-in-out .5s;
    margin-right: 0.7rem; 
    font-size: 15px;


  }


  
  input:hover, input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
input:focus {
    outline: none;
    background-color: #b0b0b07e;
  }
  
input::-webkit-input-placeholder {
    font-weight: 100;
    color: rgba(136, 136, 136, 0.504);
    margin-top: 1rem;
  }